body{
    background-color: lightgrey;
    }
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    }
footer {
    padding: 10px;
    border-top: 1px solid #000;
    color: black;
    }
.carousel-inner img {
    width: 80%; /* Set width to 100% */
    margin: auto;
    min-height:200px
    }
@media (max-width: 600px) {
.carousel-caption {
display: none; 
    }
}
